<app-hero title="Sobre nuestra compañía" 
            desc="Somos una agencia digital galardonada, fundada en 2000. Ofrecemos una gama completa de capacidades y experiencia en web.">
</app-hero>
<div class="nosotros">

    <section class="desarrolladores section bd-container">
        <h2 class="section-title">
            Nuestro equipo de desarrolladores web
        </h2>
        <p class="section-desc">
            Aportamos un enfoque elaborado e inspirado a cada proyecto en el que trabajamos, razón por la cual nuestros clientes nos aman y por eso siguen regresando.
        </p>

        <div class="desarrolladores__container bd-grid">
            <div class="desarrolladores__content">
                <img class="desarrolladores__foto" src="../../../assets/img/m1.jpg" alt="Foto de Jhon">

                <div class="desarrolladores__info">
                    <p class="desarrolladores__name">JHON DOE</p>
                    <p class="desarrolladores__perfil">Web Designer</p>
                    <div class="desarrolladores___social">
                        <ul class="desarrolladores__social__list">
                            <li><a href="#" class="desarrolladores__social__link">
                                <i class='bx bxl-facebook' ></i>
                            </a></li>
                            <li><a href="#" class="desarrolladores__social__link">
                                <i class='bx bxl-twitter' ></i>
                            </a></li>
                            <li><a href="#" class="desarrolladores__social__link">
                                <i class='bx bxl-instagram' ></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="desarrolladores__content">
                <img class="desarrolladores__foto" src="../../../assets/img/m2.jpg" alt="Foto de Jhon">

                <div class="desarrolladores__info">
                    <p class="desarrolladores__name">KATERINA NOLAN</p>
                    <p class="desarrolladores__perfil">Fontend developer</p>
                    <div class="desarrolladores___social">
                        <ul class="desarrolladores__social__list">
                            <li><a href="#" class="desarrolladores__social__link">
                                <i class='bx bxl-facebook' ></i>
                            </a></li>
                            <li><a href="#" class="desarrolladores__social__link">
                                <i class='bx bxl-twitter' ></i>
                            </a></li>
                            <li><a href="#" class="desarrolladores__social__link">
                                <i class='bx bxl-instagram' ></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="desarrolladores__content">
                <img class="desarrolladores__foto" src="../../../assets/img/m3.jpg" alt="Foto de Jhon">

                <div class="desarrolladores__info">
                    <p class="desarrolladores__name">MARLON CHO</p>
                    <p class="desarrolladores__perfil">Backend developer</p>
                    <div class="desarrolladores___social">
                        <ul class="desarrolladores__social__list">
                            <li><a href="#" class="desarrolladores__social__link">
                                <i class='bx bxl-facebook' ></i>
                            </a></li>
                            <li><a href="#" class="desarrolladores__social__link">
                                <i class='bx bxl-twitter' ></i>
                            </a></li>
                            <li><a href="#" class="desarrolladores__social__link">
                                <i class='bx bxl-instagram' ></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </section>


</div>