.proyecto{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 10;
    overflow: auto;
}
.proyecto__container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #FFF;
    width: 100%;
    min-height: 2000px;
}
.proyecto__hero{
    position: relative;
    height: 600px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyecto__btn-back{
    font-size: 64px;
    color: #FFF;
    cursor: pointer;
    transition: .3s transform;
    position: absolute;
    top: 40px;
    left: 50px;
}
.proyecto__btn-back:hover{
    transform: scale(1.1);
}
.proyecto__header{
    text-align: center;
    color: #FFF;
}
.proyecto__name{
    text-transform: uppercase;
    margin-bottom: 16px;
}
