<section class="home__hero">
    <div class="home__hero__container bd-container">
        <div class="home__hero__img">
            <img src="../../../assets/img/hero-img.png"  alt="Tonatiuj-dev">
        </div>
        <div class="home__hero__data">
            <div class="hero__home__name__container">
                <h1 class="home__hero__name">Tonatiuj Sánchez</h1>
                <p class="home__hero__name__bg">Developer</p>
            </div>
            <p class="home__hero__data__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sequi vel sapiente dolores a dignissimos repellat impedit, culpa fugit saepe obcaecati.
            </p>
        </div>
    </div>
</section>