<section class="home__hero">
    <div class="home__hero__container bd-container">
        <div class="home__hero__img">
            <img src="../../../assets/img/hero-img.png"  alt="Tonatiuj-dev">
        </div>
        <div class="home__hero__data">
            <div class="hero__home__name__container">
                <h1 class="home__hero__name">Tonatiuj Sánchez</h1>
                <p class="home__hero__name__bg">Developer</p>
            </div>
            <p class="home__hero__data__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sequi vel sapiente dolores a dignissimos repellat impedit, culpa fugit saepe obcaecati.
            </p>
        </div>
    </div>
</section>
<section class="section sobre-mi">
    <div class="sobre-mi__img__container">
        <div class="sobre-mi__triangulo"></div>
        <div class="sobre-mi__img_primary">
            <img src="../../../assets/img/ton-about.jpg" alt="Tonatiuj-dev">
        </div>
        <div class="sobre-mi__img_secondary">
            <img src="../../../assets/img/ton-about2.jpg" alt="">
        </div>
        <div class="sobre-mi__anios_experiancia">
            <span class="sobre-mi__anios__number">4+</span>
            <p class="sobre-mi__anios__text">Años de expreriencia</p>
        </div>
    </div>
    <div class="sobre-mi__data">
        <div class="sobre-mi__header">
            <span class="sobre-mi__centence">About me</span>
            <h2 class="sobre-mi__title">Sobre mi</h2>
        </div>
        <p class="sobre-mi__name">¡Hola! Soy Tonatiuj Sánchez</p>
        <div class="sobre-mi__desc">            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reprehenderit beatae debitis ea accusantium ut fugiat! A dolorem animi asperiores aperiam magni nobis neque cupiditate. Repudiandae quo.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reprehenderit beatae debitis ea accusantium ut fugiat! A dolorem animi asperiores aperiam magni nobis.</p>
        </div>
        <div class="sobre-mi__social">
            <ul class="sobre-mi__social__list">
                <li><a href="https://www.linkedin.com/in/tonatiuj-s%C3%A1nchez-baa5271b4/" class="sobre-mi__social__link" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                <li><a href="https://twitter.com/tonatiujdev" class="sobre-mi__social__link" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                <li><a href="https://www.instagram.com/tonatiujsanchez/" class="sobre-mi__social__link" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="https://github.com/tonatiujsanchez" class="sobre-mi__social__link" target="_blank"><i class='bx bxl-github'></i></a></li>
            </ul>
        </div>
    </div>
</section>

<section class="proyectos">
    <div class="bd-container">
        <div class="proyectos__header">
            <span class="proyectos__centence">Projects</span>
            <h2 class="proyectos__title">Mis proyectos</h2>
        </div>
        <div class="proyectos__nav">
            <ul class="proyectos__nav__list">
                <li *ngFor="let categoria of categorias">
                    <a class="proyectos__link" 
                        [ngClass]="{ 'active': getClassActive( categoria.idc ) }"
                        (click)="categoriaSelected( categoria.idc )">
                        {{categoria.nombre}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="proyectos__container bd-grid">
            <div *ngFor="let proyecto of proyectos" class="proyectos__content">
                <div class="proyectos__img">
                    <img src="../../../assets/img/portfolio/{{ proyecto.foto }}.jpg" alt="">
                </div>
                <div class="proyectos__info">
                    <h3 class="proyectos__name">{{ proyecto.nombre }}</h3>
                    <p class="proyectos__desc">{{ proyecto.desc }}</p>
                    <a [routerLink]="['proyecto-details',proyecto.foto]" class="proyectos__detalles">Detalles<i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
