/* === ==== Bases === ==== */
.section__header{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}
.section__centence{
    color: #CCCCCCaa;
    font-weight: 700;
    font-size: 72px;
    text-align: center;
}
.section__title{
    position: absolute;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
}
.section__desc{
    text-align: center;
    color: #777;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 40px;
}


/* === === Hero === === */
.home__hero{
    background: url('../../../assets/img/hero-home-bg.jpg');
    height: 570px;
    margin-bottom: 120px;
}
.home__hero__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
/* Image */
.home__hero__img{
    order: 1;
    font-size: 0;
    align-self: flex-end;
    width: 55%;
}
/* Data */
.home__hero__data{
    width: 45%;
}
.hero__home__name__container{
    position: relative;
    margin-bottom: 16px;
}
.home__hero__name{
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    top: 50%;
}
.home__hero__name__bg{
    font-weight: 700;
    font-size: 80px;
    color: #ccccccaa;
}
.home__hero__data__desc{
    line-height: 27px;
    font-weight: 500;
    font-size: 17px;
}

/* === === Sobre mi === === */
.sobre-mi{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 120px;
}

/* Sobre mi - Image */
.sobre-mi__img__container{
    position: relative;
    width: 400px;
    height: 520px;
}
.sobre-mi__triangulo{
    width: 0;
    height: 0;
    border-right: 70px solid transparent;
    border-top: 70px solid transparent;
    border-left: 70px solid #333;
    border-bottom: 70px solid #333;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.sobre-mi__img_primary{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.sobre-mi__img_secondary{
    position: absolute;
    width: 150px;
    right: 0;
    bottom: 0;
    border-top: 8px solid #FFF;
    border-left: 8px solid #FFF;
}
.sobre-mi__anios_experiancia{
    text-align: center;
    background-color: #333;
    color: #FFF;
    padding: 32px 20px;
    width: 120px;
    position: absolute;
    left: 0;
    top: 0;
}
.sobre-mi__anios__number{
    font-weight: 700;
    font-size: 48px;
}
.sobre-mi__anios__text{
    font-weight: 500;
}
/* Sobre mi - Data */
.sobre-mi__data{
    width: 500px;
}
.sobre-mi__header{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}
.sobre-mi__centence{
    color: #CCCCCCaa;
    font-weight: 700;
    font-size: 72px;
}
.sobre-mi__title{
    position: absolute;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
}
.sobre-mi__name{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.sobre-mi__desc{
    line-height: 27px;
    margin-bottom: 24px;
}
.sobre-mi__desc p{
    margin-bottom: 16px;
}
.sobre-mi__social__list{
    display: flex;
    gap: 16px;
}
.sobre-mi__social__link{
    font-size: 24px;
}
.sobre-mi__social__link i:hover{
    transform: scale(1.2);
}


/* === === Proyectos === === */
.proyectos{
    background-color: #F8F8F8;
    padding: 120px 0;
}
.proyectos__header{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}
.proyectos__centence{
    color: #CCCCCCaa;
    font-weight: 700;
    font-size: 72px;
    text-align: center;
}
.proyectos__title{
    position: absolute;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
}
.proyectos__nav__list{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}
.proyectos__link{
    cursor: pointer;
}
.proyectos__link:hover,
.proyectos__link.active{
    font-weight: 700;
}

/* Proyectos container */
.proyectos__container{
    grid-template-columns: repeat(3, 1fr);
}
.proyectos__content{
    position: relative;
    cursor: pointer;
    font-size: 0;
    overflow: hidden;
}
.proyectos__img{
    transition: .4s transform;
}
.proyectos__content:hover .proyectos__img{
    transform: scale(1.3);
}
.proyectos__content:hover .proyectos__info{
    transform: translateY(0);
    background-color: #333;
}
.proyectos__content:hover .proyectos__info .proyectos__name{
    opacity: 1;
}
.proyectos__content:hover .proyectos__info .proyectos__desc{
    opacity: 1;
}
.proyectos__content:hover .proyectos__info .proyectos__detalles{
    opacity: 1;
}
.proyectos__info{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #DDD;
    transform: translateY(20%);
    transition: .3s transform, .5s background-color;
}
.proyectos__name{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 8px;
    opacity: 0;
    transition: .8s opacity;
}
.proyectos__desc{
    font-size: 16px;
    text-align: center;
    opacity: 0;
    transition: .8s opacity;
    margin-bottom: 16px;
}

.proyectos__detalles{
    font-size: 14px;
    color: #DDD;
    opacity: 0;
    transition: 1s opacity;

}
.proyectos__detalles:hover{
    font-weight: 500;
    color: #FFF;
}
.proyectos__detalles i{
    font-size: 16px;
    vertical-align: middle;
}


/* === === === === Entradas === === === === */
.entradas{
    margin: 120px 0;
}
.entradas__container{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 60px;
}
.entradas__content{
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}
.entradas__img{
    max-height: 200px;
    overflow: hidden;
}
.entradas__data{
    padding: 16px;
}
.entradas__title{
    font-weight: 700;
    margin-bottom: 8px;
}
.entradas__metadata{
    font-weight: 400;
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.entradas__metadata__item:first-child{
    margin-left: 0;
}
.entradas__metadata__item {
    margin: 0 5px;
}
.entradas__desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}
.entradas__ver{
    font-weight: 500;
    cursor: pointer;
}
.entradas__ver:hover{
    font-weight: 700;
}
.entradas__ver:hover i{
    font-weight: 700;
}
.entradas__ver i{
    vertical-align: middle;
}


/* === === === === Contactame === === === === */
.contactame{
    background-color: #F8F8F8;
    padding: 120px 0;
}
.contactame__social{
    margin-bottom: 40px;
}
.contactame__list{
    display: flex;
    justify-content: center;
}
.contactame__item:last-child .contactame__link {
    border-right: none;
}
.contactame__link{
    font-size: 24px;
    color: #777;
    padding: 0 24px;
    border-right: 1px solid rgba(119, 119, 119, .2);
}
.contactame__link i{
    transition: .2s transform;
}
.contactame__link i:hover{
    color: #333;
    transform: scale(1.2);
}
.contactame__action{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.contactame__action:hover{
    font-weight: 700;
}
.contactame__action:hover i{
    font-weight: 700;
}
.contactame__action i{
    vertical-align: middle;
}