<app-hero title="Nuestros expertos" 
            desc="Somos una agencia digital galardonada, fundada en 2000. Contamos con los mejores expertos en cada area.">
</app-hero>

<section class="expertos section bd-container">
    <h2 class="section-title">
       Conoce a nuestro equipo de expertos
    </h2>
    <p class="section-desc">
        Contamos con los mejores expertos en cada area, lo que da la seguridad a nuestros clientes de que obtendran un producto de alta calidad que cumplen cada una de sus espectativas. 
    </p>
    <div class="expertos__container bd-grid">
        <div class="expertos__content">
            <div class="expertos__figure">
                <img src="../../../assets/img/experto-101.jpg" alt="Experto 01">
                <div class="expertos__social"></div>
            </div>
            <div class="expertos__info">
                <div class="expertos__data">
                    <p class="expertos__name">Herman Fisher</p>
                    <p class="expertos__cargo">General Manager</p>
                </div>
                <a (click)="verExperto(101)" class="btn expertos__btn">Ver</a>
            </div>
        </div>
        <div class="expertos__content">
            <div class="expertos__figure">
                <img src="../../../assets/img/experto-102.jpg" alt="Experto 01">
                <div class="expertos__social"></div>
            </div>
            <div class="expertos__info">
                <div class="expertos__data">
                    <p class="expertos__name">Charlie Kennedy</p>
                    <p class="expertos__cargo">Brand Designer</p>
                </div>
                <a (click)="verExperto(102)" class="btn expertos__btn">Ver</a>
            </div>
        </div>
        <div class="expertos__content">
            <div class="expertos__figure">
                <img src="../../../assets/img/experto-103.jpg" alt="Experto 01">
                <div class="expertos__social"></div>
            </div>
            <div class="expertos__info">
                <div class="expertos__data">
                    <p class="expertos__name">Helena Adkins</p>
                    <p class="expertos__cargo">Seinor Designer</p>
                </div>
                <a (click)="verExperto(103)" class="btn expertos__btn">Ver</a>
            </div>
        </div>
        <div class="expertos__content">
            <div class="expertos__figure">
                <img src="../../../assets/img/experto-104.jpg" alt="Experto 01">
                <div class="expertos__social"></div>
            </div>
            <div class="expertos__info">
                <div class="expertos__data">
                    <p class="expertos__name">Virginia Farmer</p>
                    <p class="expertos__cargo">Marketing Manager</p>
                </div>
                <a (click)="verExperto(104)" class="btn expertos__btn">Ver</a>
            </div>
        </div>
        <div class="expertos__content">
            <div class="expertos__figure">
                <img src="../../../assets/img/experto-105.jpg" alt="Experto 01">
                <div class="expertos__social"></div>
            </div>
            <div class="expertos__info">
                <div class="expertos__data">
                    <p class="expertos__name">Philip Hansen</p>
                    <p class="expertos__cargo">Seinor Developer</p>
                </div>
                <a (click)="verExperto(105)" class="btn expertos__btn">Ver</a>
            </div>
        </div>
    </div>
</section>