<app-hero title="Nuestro blog"
            desc="Ya sea que necesite una aplicación nueva, un rediseño completo del sitio web o simplemente algunos arreglos, queremos ayudar y hacer realidad tu sueño.">
</app-hero>

<section class="section articulos bd-container">
    <h2 class="section-title">Aprende de expertos</h2>
    <p class="section-desc">Queremos que aprendas de los mejores, aquí te dejamos algunos árticulos elaborados por nuestro equipo, cada uno de ellos expertos en su area.</p>
    
    <div class="acticulos__container">
        <h4 class="articulos__container__title">
            Últimas entradas de blog
        </h4>
        <div class="acticulos__content">
            <div class="arcticulos__figure">
                <div class="articulos__date">
                    <p class="articulos__dia">06</p>
                    <p class="articulos__mes">Agosto 2021</p>
                </div>
                <div class="articulos__img">
                    <img src="../../../assets/img/post-101.jpg" alt="Post 1">
                </div>
            </div>
            <div class="arcticulos__data">
                <p class="articulos__titulo">Como aprender desarrollo web</p>
                <p class="articulos__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorum soluta odit aperiam voluptas corrupti doloribus suscipit eveniet recusandae non molestias dolorem officiis asperiores animi culpa, obcaecati.</p>
                <a (click)="verArticulo(101)" class="articulos__ver">Leer más<i class='bx bx-right-arrow-alt'></i></a>
            </div>
        </div>
        <div class="acticulos__content">
            <div class="arcticulos__figure">
                <div class="articulos__date">
                    <p class="articulos__dia">08</p>
                    <p class="articulos__mes">Julio 2021</p>
                </div>
                <div class="articulos__img">
                    <img src="../../../assets/img/post-102.jpg" alt="Post 1">
                </div>
            </div>
            <div class="arcticulos__data">
                <p class="articulos__titulo">2021 el año de la innovación</p>
                <p class="articulos__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorum soluta odit aperiam voluptas corrupti doloribus suscipit eveniet recusandae non molestias dolorem officiis asperiores animi culpa, obcaecati.</p>
                <a (click)="verArticulo(102)" class="articulos__ver">Leer más<i class='bx bx-right-arrow-alt'></i></a>

            </div>
        </div>
        <div class="acticulos__content">
            <div class="arcticulos__figure">
                <div class="articulos__date">
                    <p class="articulos__dia">12</p>
                    <p class="articulos__mes">Junio 2021</p>
                </div>
                <div class="articulos__img">
                    <img src="../../../assets/img/post-103.jpg" alt="Post 1">
                </div>
            </div>
            <div class="arcticulos__data">
                <p class="articulos__titulo">Ordena tus ideas y termina tus proyectos</p>
                <p class="articulos__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorum soluta odit aperiam voluptas corrupti doloribus suscipit eveniet recusandae non molestias dolorem officiis asperiores animi culpa, obcaecati.</p>
                <a (click)="verArticulo(103)" class="articulos__ver">Leer más<i class='bx bx-right-arrow-alt articulos__arrow'></i></a>
            </div>
        </div>
        <div class="acticulos__content">
            <div class="arcticulos__figure">
                <div class="articulos__date">
                    <p class="articulos__dia">05</p>
                    <p class="articulos__mes">Junio 2021</p>
                </div>
                <div class="articulos__img">
                    <img src="../../../assets/img/post-104.jpg" alt="Post 1">
                </div>
            </div>
            <div class="arcticulos__data">
                <p class="articulos__titulo">Ordena tus ideas y termina tus proyectos</p>
                <p class="articulos__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorum soluta odit aperiam voluptas corrupti doloribus suscipit eveniet recusandae non molestias dolorem officiis asperiores animi culpa, obcaecati.</p>
                <a (click)="verArticulo(104)" class="articulos__ver">Leer más<i class='bx bx-right-arrow-alt articulos__arrow'></i></a>
            </div>
        </div>
        <div class="acticulos__content">
            <div class="arcticulos__figure">
                <div class="articulos__date">
                    <p class="articulos__dia">17</p>
                    <p class="articulos__mes">Junio 2021</p>
                </div>
                <div class="articulos__img">
                    <img src="../../../assets/img/post-105.jpg" alt="Post 1">
                </div>
            </div>
            <div class="arcticulos__data">
                <p class="articulos__titulo">Ordena tus ideas y termina tus proyectos</p>
                <p class="articulos__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorum soluta odit aperiam voluptas corrupti doloribus suscipit eveniet recusandae non molestias dolorem officiis asperiores animi culpa, obcaecati.</p>
                <a (click)="verArticulo(105)" class="articulos__ver">Leer más<i class='bx bx-right-arrow-alt articulos__arrow'></i></a>
            </div>
        </div>
        <div class="acticulos__content">
            <div class="arcticulos__figure">
                <div class="articulos__date">
                    <p class="articulos__dia">28</p>
                    <p class="articulos__mes">Junio 2021</p>
                </div>
                <div class="articulos__img">
                    <img src="../../../assets/img/post-106.jpg" alt="Post 1">
                </div>
            </div>
            <div class="arcticulos__data">
                <p class="articulos__titulo">Ordena tus ideas y termina tus proyectos</p>
                <p class="articulos__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorum soluta odit aperiam voluptas corrupti doloribus suscipit eveniet recusandae non molestias dolorem officiis asperiores animi culpa, obcaecati.</p>
                <a (click)="verArticulo(106)" class="articulos__ver">Leer más<i class='bx bx-right-arrow-alt articulos__arrow'></i></a>
            </div>
        </div>
    </div>
</section>
