<app-hero title="Nuestro blog"
            desc="Ya sea que necesite una aplicación nueva, un rediseño completo del sitio web o simplemente algunos arreglos, queremos ayudar y hacer realidad tu sueño.">
</app-hero>

<section class="section articulos">
    <h2 class="section-title">Hola</h2>
    <p class="section-desc">Godldksal</p>
    
    <div class="acticulos__container">
        <div class="acticulos__content">
            <div class="arcticulos__figure">
                <div class="articulos__date">
                    <p class="articulos__dia">06</p>
                    <p class="articulos__mes">Agosto</p>
                </div>
                <div class="articulos__img">
                    <img src="" alt="">
                </div>
            </div>
            <div class="arcticulos__data">

            </div>
        </div>
    </div>
</section>
